@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap");
@font-face {
  font-family: ProximaNova;
  src: url("../../font/Proxima-Nova-Font.otf");
}

/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: ProximaNova;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

/* css reset end  */
.btn {
  padding: 16px 8px;
  min-width: 120px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.text-bold {
  font-weight: 700;
}

.input-box {
  padding: 16px 20px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.our-clients, .Chat-with-us, .why-we, .about, .report, .video, .users, .signup, .footer, footer {
  position: relative;
  z-index: 2;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: #3e3e58;
  align-items: center;
  padding: 20px 40px;
  transition: .5s;
  z-index: 3;
}

header a.logo {
  display: inline-block;
}

header a.logo img {
  display: block;
}

header ul.nav-links {
  display: flex;
  align-items: center;
}

header ul.nav-links .nav-items {
  margin: 0 38px;
  position: relative;
}

header ul.nav-links .nav-items button {
  margin-right: 0;
  background-color: transparent;
  border: 1px solid #979797;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 400;
  opacity: 0.5;
  padding: 10px 20px;
  cursor: pointer;
}

header ul.nav-links .nav-items button:hover {
  transition: .5s;
  color: #3dbdb6;
  border-color: #3dbdb6;
  opacity: 1;
  box-shadow: 0 0 10px 1px #3dbdb6;
}

header ul.nav-links .nav-items.active::before {
  content: "";
  width: 72px;
  height: 4px;
  position: absolute;
  border-bottom: 4px solid #3dbdb6;
  bottom: -26px;
  left: -50%;
}

header ul.nav-links .nav-items.active a {
  opacity: 1;
}

header ul.nav-links .nav-items a {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
  font-size: 14px;
  font-weight: 400;
}

header ul.nav-links .nav-items a:hover {
  opacity: 1;
}

header .burger {
  display: none;
}

@media screen and (max-width: 992px) {
  header {
    padding: 25px 12px;
  }
  header ul.nav-links .nav-items {
    margin: 0 22px;
  }
}

@media screen and (max-width: 768px) {
  header ul.nav-links {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #1f2532;
    height: 100vh;
    width: 320px;
    transform: translateX(100%);
    transition: .5s ease-out;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
  }
  header ul.nav-links .nav-items {
    margin: 20px 22px;
  }
  header ul.nav-links .nav-items:first-child::before {
    bottom: -10px;
  }
  header ul.nav-links .nav-items:last-child {
    margin-right: 22px;
  }
  header ul.nav-links.show-on-mobile {
    transform: translate(0) !important;
    transition: .5s ease-out;
  }
  header ul.nav-links.show-on-mobile + .burger .line1 {
    visibility: hidden;
  }
  header ul.nav-links.show-on-mobile + .burger .line2 {
    transform: rotate(45deg);
    transition: .5s;
  }
  header ul.nav-links.show-on-mobile + .burger .line3 {
    transform: rotate(315deg) translate(5px, -6px);
    transition: .5s;
  }
  header .burger {
    display: block;
  }
  header .burger .line1 {
    display: block;
  }
  header .burger .line2 {
    transform: rotate(0deg);
    transition: .5s;
  }
  header .burger .line3 {
    transform: rotate(0deg);
    transition: .5s;
  }
  header .burger div {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px;
  }
}

.hero {
  background-color: #3e3e58;
  max-height: 590px;
  position: sticky;
  top: 0;
  z-index: 1;
  overflow: hidden;
}

.hero .container {
  position: relative;
  top: 182px;
}

.hero .container h1 {
  color: #ffffff;
  font-size: 48px;
  letter-spacing: -2.12px;
  line-height: 54px;
  font-weight: 400;
}

.hero .container .hero-content {
  width: 422px;
}

.hero .container .hero-content form {
  margin-top: 47px;
  display: flex;
}

.hero .container .hero-content input {
  background-color: rgba(176, 176, 176, 0.5);
  min-width: 302px;
  font-size: 16px;
  line-height: 20px;
  box-shadow: 0 0 8px 0 rgba(176, 176, 176, 0.5);
  color: #ffffff;
}

.hero .container .hero-content input::placeholder {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.hero .container .hero-content input:focus {
  outline: none;
}

.hero .container .hero-content button {
  background-color: #3dbdb6;
  color: #ffffff;
  font-weight: 700;
  box-shadow: 0 1px 6px 0 #4449a2;
}

.hero .hero-img {
  float: right;
  position: relative;
  margin-top: -100px;
  width: 712px;
}

@media screen and (max-width: 1080px) {
  .hero {
    text-align: center;
  }
  .hero .hero-content {
    width: 100% !important;
  }
  .hero .hero-content form {
    justify-content: center;
  }
  .hero .hero-img {
    margin-top: 30vh;
    float: unset;
    width: 28%;
  }
}

@media screen and (max-width: 576px) {
  .hero .container {
    top: 100px;
  }
  .hero .container .hero-content h1 {
    font-size: 32px;
    letter-spacing: -1.12px;
    line-height: 40px;
  }
  .hero .container .hero-content form {
    flex-direction: column;
    align-items: center;
  }
  .hero .container .hero-content form input {
    width: 100%;
    border-radius: 4px;
  }
  .hero .container .hero-content form button {
    margin-top: 25px;
    border-radius: 4px;
  }
  .hero .hero-img {
    margin-top: 20vh;
    float: unset;
    width: 75%;
  }
}

.our-clients {
  padding: 36px 0;
  background-color: #f9fafa;
  border: 1px solid #eeeeee;
}

.our-clients .client-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.our-clients .client-logos li {
  margin: 0 22px;
}

.our-clients .client-logos li img {
  display: block;
}

@media screen and (max-width: 768px) {
  .our-clients {
    padding: 16px 0;
  }
  .our-clients .client-logos {
    flex-direction: column;
  }
  .our-clients .client-logos li {
    margin: 16px;
  }
}

.Chat-with-us {
  background-color: #ffffff;
  padding: 82px 0;
}

.Chat-with-us .container {
  text-align: center;
}

.Chat-with-us .container h2 {
  font-size: 32px;
  line-height: 44px;
  color: #333333;
  margin-bottom: 39px;
  letter-spacing: 0.2px;
  font-weight: 400;
}

.Chat-with-us .container h2 span {
  font-weight: 700;
}

.Chat-with-us .container .chat-services {
  display: flex;
  justify-content: space-evenly;
}

.Chat-with-us .container .chat-services li {
  width: 20%;
}

.Chat-with-us .container .chat-services li img {
  width: 39px;
  height: 39px;
  vertical-align: middle;
}

.Chat-with-us .container .chat-services li h3 {
  font-size: 16px;
  color: #333333;
  letter-spacing: 0.4px;
  font-weight: 600;
  margin: 14px 0 12px;
}

.Chat-with-us .container .chat-services li p {
  color: #72808e;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 400;
}

.Chat-with-us .container .chat-services li a {
  text-decoration: none;
  font-size: 14px;
  color: #2d8cff;
  font-weight: 600;
}

.Chat-with-us .container .chat-services li a .arrow {
  border: solid #2d8cff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-left: 6px;
  transform: rotate(-45deg);
  vertical-align: middle;
}

.Chat-with-us .container .chat-services .support {
  width: 99px;
  height: 99px;
  border-radius: 50%;
  margin: 0 auto;
  line-height: 99px;
  background: linear-gradient(to bottom right, #3dbdb6, #0089ce);
}

.Chat-with-us .container .chat-services .help {
  width: 99px;
  height: 99px;
  border-radius: 50%;
  margin: 0 auto;
  line-height: 99px;
  background: linear-gradient(to bottom right, #9facf8, #7a86cc);
}

.Chat-with-us .container .chat-services .chat {
  width: 99px;
  height: 99px;
  border-radius: 50%;
  margin: 0 auto;
  line-height: 99px;
  background: linear-gradient(to bottom, #f3778f, #f26a95, #f15a9d);
}

@media screen and (max-width: 992px) {
  .Chat-with-us .container .chat-services li {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .Chat-with-us {
    padding: 32px 0;
  }
  .Chat-with-us .container .chat-services {
    flex-direction: column;
    align-items: center;
  }
  .Chat-with-us .container .chat-services li {
    width: 100%;
    margin-bottom: 50px;
  }
  .Chat-with-us .container .chat-services li:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 576px) {
  .Chat-with-us .container h2 {
    font-size: 28px;
  }
}

.why-we {
  padding: 80px 0;
  background: linear-gradient(to right, #3dbdb6, #0089ce);
  color: #ffffff;
  text-align: center;
  font-weight: 400;
}

.why-we h2 {
  font-size: 40px;
  margin-bottom: 33px;
}

.why-we h2 + p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0;
  margin-bottom: 60px;
  width: 100%;
}

.why-we div.our-vision {
  display: flex;
  justify-content: space-between;
}

.why-we div.our-vision div.details {
  width: 46%;
}

.why-we div.our-vision div.details:first-child {
  padding: 46px 0;
  margin-right: 20px;
  text-align: left;
}

.why-we div.our-vision div.details:first-child .glass-bg {
  padding: 20px 25px;
  max-width: 502px;
  background-color: rgba(24, 144, 164, 0.5);
  border-radius: 3px;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

.why-we div.our-vision div.details:first-child .glass-bg h4 {
  font-size: 20px;
  line-height: 56px;
}

.why-we div.our-vision div.details:first-child .glass-bg p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}

.why-we div.our-vision div.details:first-child .our-achievements {
  padding: 20px 35px;
}

.why-we div.our-vision div.details:first-child .our-achievements li {
  margin-right: 0;
  font-size: 20px;
  color: #0b5e6e;
  padding: 0;
  line-height: 56px;
}

.why-we div.our-vision .to-do {
  background-color: #ffffff;
  width: 521px;
  height: 461px;
  overflow: auto;
}

.why-we div.our-vision .to-do .wrapper {
  padding: 10px 20px;
  background-color: #f3f3f3;
  position: sticky;
  top: 0;
}

.why-we div.our-vision .to-do .wrapper .to-do-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.why-we div.our-vision .to-do .wrapper .to-do-list p {
  color: #4a4a4a;
}

.why-we div.our-vision .to-do .wrapper .to-do-list p span {
  padding: 5px 15px;
  background-color: #20bbef;
  color: #ffffff;
  border-radius: 16px;
  margin-left: 10px;
}

.why-we div.our-vision .to-do .wrapper .to-do-list p + button {
  background-color: #20bbef;
  padding: 5px 10px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}

.why-we div.our-vision .to-do ul {
  padding: 30px 20px;
  overflow: auto;
}

.why-we div.our-vision .to-do ul .each-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.why-we div.our-vision .to-do ul .each-task:hover {
  cursor: pointer;
}

.why-we div.our-vision .to-do ul .each-task:last-child {
  margin-bottom: 0;
}

.why-we div.our-vision .to-do ul .each-task.checked .dot {
  background-color: #606d78;
  opacity: .6;
}

.why-we div.our-vision .to-do ul .each-task.checked .task {
  opacity: .6;
  text-decoration: line-through;
  color: #606d78;
}

.why-we div.our-vision .to-do ul .each-task.checked .task .date {
  color: #606d78;
}

.why-we div.our-vision .to-do ul .each-task.checked .task .task-to-do {
  color: #606d78;
}

.why-we div.our-vision .to-do ul .each-task.checked label {
  display: block;
  position: relative;
}

.why-we div.our-vision .to-do ul .each-task.checked label .checkmark {
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 2px solid #dadfe5;
}

.why-we div.our-vision .to-do ul .each-task.checked label .checkmark::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 9px;
  width: 5px;
  height: 10px;
  border: solid #dadfe5;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.why-we div.our-vision .to-do ul .each-task .wrapper-check {
  display: flex;
}

.why-we div.our-vision .to-do ul .each-task .dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #6cdbd5;
}

.why-we div.our-vision .to-do ul .each-task .task {
  text-align: left;
  margin-left: 25px;
}

.why-we div.our-vision .to-do ul .each-task .task .date {
  color: #54657e;
  margin-bottom: 10px;
}

.why-we div.our-vision .to-do ul .each-task .task .task-to-do {
  color: #606d78;
}

.why-we div.our-vision .to-do ul .each-task label .checkmark {
  display: block;
  width: 25px;
  height: 25px;
  background: transparent;
  border: 3px solid #6cdbd5;
  border-radius: 50%;
}

@media screen and (max-width: 992px) {
  .why-we div.our-vision {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .why-we div.our-vision div.details:first-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .why-we {
    padding: 45px 0;
  }
  .why-we h2 {
    font-size: 32px;
  }
  .why-we p {
    font-size: 16px;
  }
  .why-we div.our-vision div.details {
    width: 75%;
  }
}

@media screen and (max-width: 576px) {
  .why-we div.our-vision div.details {
    width: 100%;
  }
  .why-we div.our-vision div.details:first-child .glass-bg h4 {
    line-height: 25px;
    margin-bottom: 20px;
  }
  .why-we div.our-vision div.details:first-child .our-achievements li {
    font-size: 16px;
    line-height: 36px;
  }
  .why-we .to-do .dot {
    display: none;
  }
}

.about {
  padding: 80px 0;
  background-color: #ffffff;
  text-align: center;
  font-weight: 400;
}

.about h2 {
  font-size: 40px;
  letter-spacing: 0;
  color: #4a4a4a;
  margin-bottom: 73px;
}

.about ul.about-links {
  display: flex;
  justify-content: space-between;
}

.about ul.about-links li {
  width: 32%;
  height: auto;
}

.about ul.about-links li img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.about ul.about-links li a.learn-more {
  text-decoration: none;
  font-size: 14px;
  color: #2d8cff;
  font-weight: 600;
}

.about ul.about-links li a.learn-more .arrow {
  border: solid #2d8cff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-left: 6px;
  transform: rotate(-45deg);
  vertical-align: middle;
}

.about ul.about-links li p {
  font-size: 18px;
  color: #39394d;
  margin: 30px 0;
  padding: 0 38px;
}

@media screen and (max-width: 992px) {
  .about {
    padding: 60px 0;
  }
  .about h2 {
    font-size: 38px;
    margin-bottom: 60px;
  }
  .about ul.about-links li p {
    font-size: 18px;
    margin: 24px 0;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding: 40px 0;
  }
  .about h2 {
    font-size: 34px;
    margin-bottom: 40px;
  }
  .about ul.about-links li p {
    font-size: 16px;
    color: #39394d;
    margin: 20px 0;
    padding: 0;
  }
}

@media screen and (max-width: 576px) {
  .about {
    padding: 36px 0;
  }
  .about h2 {
    font-size: 28px;
    margin-bottom: 38px;
  }
  .about ul.about-links {
    flex-direction: column;
    align-items: center;
  }
  .about ul.about-links li {
    width: 100%;
    margin-bottom: 45px;
  }
  .about ul.about-links li:last-child {
    margin-bottom: 0;
  }
  .about ul.about-links li p {
    font-size: 16px;
    color: #39394d;
    margin: 20px 0;
    padding: 0;
  }
}

.report {
  padding: 40px 0;
  background: linear-gradient(to right, #1172d0, #1d98d6);
}

.report .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.report .container .content-wrapper {
  width: 60%;
}

.report .container .content-wrapper p {
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
}

.report .container .content-wrapper p span {
  font-size: 28px;
  font-weight: 700;
}

.report .container .content-wrapper a {
  color: #ffffff;
  font-size: 16px;
  display: inline-block;
  margin-top: 20px;
  font-weight: 600;
}

.report .container img {
  width: 22%;
}

@media screen and (max-width: 768px) {
  .report {
    padding: 30px 0;
  }
  .report .container .content-wrapper p {
    font-size: 16px;
  }
  .report .container .content-wrapper p span {
    font-size: 20px;
  }
  .report .container .content-wrapper a {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .report {
    padding: 30px 0;
  }
  .report .container {
    flex-direction: column-reverse;
  }
  .report .container .content-wrapper {
    width: 100%;
  }
  .report .container .content-wrapper p {
    font-size: 14px;
    margin-top: 20px;
  }
  .report .container .content-wrapper p span {
    font-size: 18px;
  }
  .report .container .content-wrapper a {
    font-size: 14px;
  }
  .report .container img {
    width: 40%;
  }
}

.video {
  position: relative;
  text-align: center;
}

.video .fa-pause {
  display: none;
}

.video.playing a {
  display: block;
}

.video.playing a::before {
  background-color: transparent;
}

.video.playing .video-text-wrapper {
  display: none;
}

.video.pausing .fa-play {
  display: none;
}

.video.pausing .fa-pause {
  display: block;
}

.video a::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #081941;
  opacity: 50%;
  width: 100%;
  height: 100%;
}

.video a .video-text-wrapper {
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}

.video a .video-text-wrapper .wrapper {
  width: 60%;
  margin: 0 auto;
}

.video a .video-text-wrapper .wrapper q {
  color: #ffffff;
  margin: 0 auto;
  font-size: 40px;
  line-height: 43px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
}

.video a .video-text-wrapper .wrapper p {
  margin: 30px auto 60px;
  font-style: normal;
  display: block;
  font-size: 18px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.video a .video-text-wrapper button {
  width: 99px;
  height: 99px;
  border-radius: 50%;
  margin: 0 auto;
  line-height: 99px;
  border: none;
  color: #3d3f6d;
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: linear-gradient(to right bottom, #3dbdb6, #0089ce);
}

.video a .video-text-wrapper button i {
  font-size: 25px;
  vertical-align: middle;
}

.video video {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 992px) {
  .video a .video-text-wrapper .wrapper q {
    font-size: 28px;
    line-height: 30px;
    width: 60%;
    font-weight: 400;
  }
  .video a .video-text-wrapper .wrapper p {
    margin: 20px 0 40px;
    display: block;
    font-size: 18px;
  }
  .video a .video-text-wrapper button {
    width: 99px;
    height: 99px;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 99px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  .video a .video-text-wrapper button i {
    font-size: 18px;
    vertical-align: middle;
  }
}

@media screen and (max-width: 576px) {
  .video a .video-text-wrapper .wrapper {
    width: 100%;
  }
  .video a .video-text-wrapper .wrapper q {
    font-size: 16px;
    line-height: 16px;
    width: 80%;
  }
  .video a .video-text-wrapper .wrapper p {
    margin: 14px 0 18px;
    display: block;
    font-size: 14px;
  }
  .video a button {
    width: 99px;
    height: 99px;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 99px;
    width: 30px;
    height: 30px;
  }
}

.users {
  padding: 40px 0;
  background-color: #ffffff;
}

.users .user-details {
  display: flex;
  justify-content: space-between;
}

.users .user-details li {
  display: flex;
  align-items: center;
}

.users .user-details li figure {
  position: relative;
}

.users .user-details li img.play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.users .user-details li .user-wrapper {
  margin-left: 20px;
}

.users .user-details li .user-wrapper p {
  font-size: 18px;
  color: #39394d;
  opacity: .6;
  font-weight: 400;
  margin-bottom: 15px;
}

.users .user-details li.active .user-wrapper p {
  opacity: 1;
}

@media screen and (max-width: 992px) {
  .users {
    padding: 40px 0;
  }
  .users .user-details {
    flex-direction: column;
    align-items: center;
  }
  .users .user-details li {
    margin-bottom: 30px;
  }
}

.signup {
  padding: 80px 0;
  background-color: #3dbdb6;
  text-align: center;
}

.signup h2 {
  font-size: 40px;
  letter-spacing: 0;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 50px;
}

.signup form {
  display: flex;
  justify-content: center;
}

.signup form input {
  background-color: rgba(176, 176, 176, 0.5);
  min-width: 302px;
  font-size: 16px;
  line-height: 20px;
  box-shadow: 0 0 8px 0 rgba(176, 176, 176, 0.5);
  color: #ffffff;
}

.signup form input::placeholder {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.signup form input:focus {
  outline: none;
}

.signup form button {
  background-color: #3dbdb6;
  color: #ffffff;
  font-weight: 700;
  box-shadow: 0 1px 6px 0 #4449a2;
}

.signup form input {
  background-color: transparent;
  border: 1px solid #ffffff;
}

.signup form button {
  box-shadow: none;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #3dbdb6;
}

@media screen and (max-width: 576px) {
  .signup {
    padding: 40px 0;
  }
  .signup h2 {
    font-size: 32px;
    margin-bottom: 28px;
  }
  .signup form {
    flex-direction: column;
    align-items: center;
  }
  .signup input {
    background-color: rgba(176, 176, 176, 0.5);
    min-width: 302px;
    font-size: 16px;
    line-height: 20px;
    box-shadow: 0 0 8px 0 rgba(176, 176, 176, 0.5);
    color: #ffffff;
  }
  .signup input::placeholder {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
  }
  .signup input:focus {
    outline: none;
  }
  .signup button {
    background-color: #3dbdb6;
    color: #ffffff;
    font-weight: 700;
    box-shadow: 0 1px 6px 0 #4449a2;
  }
  .signup input {
    width: 100%;
    background-color: transparent;
    border: 1px solid #ffffff;
  }
  .signup button {
    margin-top: 25px;
    box-shadow: none;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #3dbdb6;
  }
}

.footer {
  padding: 60px 0;
  background-color: #1f2532;
  font-weight: 100;
}

.footer div.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer div.footer-wrapper .col-left .footer-nav {
  display: flex;
}

.footer div.footer-wrapper .col-left .footer-nav li.company-description {
  width: 20%;
  margin: 0;
}

.footer div.footer-wrapper .col-left .footer-nav li.company-description a {
  display: inline-block;
}

.footer div.footer-wrapper .col-left .footer-nav li.company-description a img {
  display: block;
}

.footer div.footer-wrapper .col-left .footer-nav li {
  margin-left: 100px;
}

.footer div.footer-wrapper .col-left .footer-nav li h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 14px;
  color: #ffffff;
}

.footer div.footer-wrapper .col-left .footer-nav li p {
  color: #ffffff;
  opacity: 60%;
  font-size: 12px;
  line-height: 19px;
  margin-top: 23px;
}

.footer div.footer-wrapper .col-left .footer-nav li ul li {
  margin: 0;
}

.footer div.footer-wrapper .col-left .footer-nav li ul li a {
  text-decoration: none;
  display: block;
  margin: 16px 0;
  color: #ffffff;
  opacity: 60%;
  font-size: 12px;
  line-height: 19px;
}

.footer div.footer-wrapper div.col-right ul {
  display: flex;
}

.footer div.footer-wrapper div.col-right ul li {
  margin-left: 12px;
}

.footer div.footer-wrapper div.col-right ul li i {
  color: #ffffff;
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 30px 0;
  }
  .footer div.footer-wrapper .col-left .footer-nav li.company-description {
    width: 20%;
  }
  .footer div.footer-wrapper .col-left .footer-nav li {
    margin-left: 50px;
  }
  .footer div.footer-wrapper div.col-right ul {
    display: flex;
  }
  .footer div.footer-wrapper div.col-right ul li i {
    color: #ffffff;
    opacity: .6;
  }
}

@media screen and (max-width: 576px) {
  .footer {
    text-align: center;
  }
  .footer div.footer-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer div.footer-wrapper .col-left .footer-nav {
    flex-direction: column;
    align-items: center;
  }
  .footer div.footer-wrapper .col-left .footer-nav li.company-description {
    width: 100%;
  }
  .footer div.footer-wrapper .col-left .footer-nav li {
    margin: 25px 0;
  }
  .footer div.footer-wrapper .col-left .footer-nav li p {
    margin: 20px 0;
  }
  .footer div.footer-wrapper div.col-right ul {
    display: flex;
  }
  .footer div.footer-wrapper div.col-right ul li:first-child {
    margin-left: 0;
  }
  .footer div.footer-wrapper div.col-right ul li i {
    color: #ffffff;
    opacity: .6;
  }
}

footer {
  padding: 35px 0;
  background-color: #3e3e58;
  text-align: center;
}

footer p {
  padding: 0 20px;
  font-size: 12px;
  font-weight: 100;
  line-height: 24px;
  color: rgba(176, 176, 176, 0.5);
  width: 75%;
  margin: 0 auto;
}

footer p span {
  font-weight: 600;
  color: #ffffff;
}

@media screen and (max-width: 992px) {
  footer p {
    width: 100%;
  }
}
