// mixins
@mixin signup {
    input{        
        padding: 16px 20px;
        background-color: rgba(176, 176, 176, 0.5);
        border: none;
        width: 302px;
        font-size: 16px;
        line-height: 20px;
        border-radius:  $border-radius 0 0 $border-radius ;
        box-shadow: 0 0 8px 0 rgba(177, 177, 177, 0.5);
        color: $text-color;
        &::placeholder{
            color: $text-color;
            font-size: 16px;
        }
        &:focus{
            outline: none;
        }
    }
    button{   
        padding: 16px 20px;
        width:120px;
        border: none;
        background-color: $light-green;
        color: $text-color;
        font-weight: 700;
        font-size: 14px;
        box-shadow: 0 1px 6px 0 $btn-shadow-color;
        border-radius: 0 $border-radius $border-radius 0;
    }
}

@mixin circle {
    width: 99px;
    height: 99px;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 99px;
}

@mixin learMore {
    text-decoration: none;
    font-size: 14px;
    color: $anchor-color;
    .arrow{
        border: solid  $anchor-color;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 2px;
        margin-left: 6px;
        transform: rotate(-45deg);
        vertical-align: middle;
    }
}
