// colors they use 
$primary-color: #3e3e58;
$grey-color-bright : #979797;
$white-color-lighter: #f9fafa;
$white-color-light:#eeeeee;
$green-color-light: #3dbdb6;
$blue-color-bright-300: #0089ce;
$purple-color-light: #4449a2;
$brown-color-dark: #333333;
$blue-color-greyish: #7a86cc;
$grey-color-light: #9facf8;
$grey-color-medium: #72808e;
$green-color-medium: #2d8cff;
$green-color-dark-alpha: rgba(24, 144, 164, 0.5);
$green-color-dark: #0b5e6e;
$brown-color-light: #4a4a4a;
$brow-color-medium: #39394d;
$blue-color-bright-200: #1172d0;
$blue-color-bright-100: #1d98d6;
$white-color-medium: #e1e1e1;
$blue-color-dark: #081941;
$blue-color-medium: #3d3f6d;
$grey-color-light-alpha-100: rgba(176, 176, 176, 0.5);
$grey-color-light-alpha-200: rgba(177, 177, 177, 0.5);
$blue-color-darker: #1f2532;
$pink-color-light: #f3778f;
$pink-color-medium: #f26a95;
$pink-color-bold: #f15a9d;