// variables
$primary-color: #3e3e58;
$btn-border-color : #979797;
$btn-shadow-color : #4449a2;
$light-green : #3dbdb6;
$text-color : #ffffff;
$border-radius : 4px;
$footer-color:#1f2532;
$anchor-color:#2d8cff;