// colors they use 
$primary-color: #3e3e58;

$color-grey-bright : #979797;
$color-grey-light: #9facf8;
$color-grey-medium: #72808e;
$color-grey-light-alpha-100: rgba(176, 176, 176, 0.5);
$color-grey-light-alpha-200: rgba(177, 177, 177, 0.5);

$color-white-lighter: #f9fafa;
$color-white-light:#eeeeee;
$color-white-medium: #e1e1e1;

$color-purple-light: #4449a2;

$color-green-light: #3dbdb6;
$color-green-medium: #2d8cff;
$color-green-dark-alpha: rgba(24, 144, 164, 0.5);
$color-green-dark: #0b5e6e;

$color-blue-darker: #1f2532;
$color-blue-dark: #081941;
$color-blue-medium: #3d3f6d;
$color-blue-bright-300: #0089ce;
$color-blue-bright-200: #1172d0;
$color-blue-bright-100: #1d98d6;
$color-blue-greyish: #7a86cc;

$color-brown-dark: #333333;
$color-brown-light: #4a4a4a;
$color-brown-medium: #39394d;

$color-pink-light: #f3778f;
$color-pink-medium: #f26a95;
$color-pink-bold: #f15a9d;