.Chat-with-us{
    @extend %scroll-top;
    background-color: #ffffff;
    padding: 82px 0;
    .container{
        text-align: center;
        h2{
            font-size: 32px;
            line-height: 44px;
            color: $brown-color-dark;
            margin-bottom: 39px;
            letter-spacing: 0.2px;
            font-weight: 400;
            span{
                font-weight: 700;
            }
        }
        .chat-services{
            display: flex;
            justify-content: space-evenly;
            li{
                width: 20%;
                img{
                    width: 39px;
                    height: 39px;
                    vertical-align: middle;
                }
                h3{
                    font-size: 16px;
                    color: $brown-color-dark;
                    letter-spacing: 0.4px;
                    font-weight: 600;
                    margin: 14px 0 12px;
                }
                p{
                    color: $grey-color-medium;
                    line-height: 25px;
                    letter-spacing: 0.2px;
                    font-size: 16px;
                    margin-bottom: 10px;
                    font-weight: 400;
                }
                a{
                    @include learMore();
                }
            }
            .support{
                @include circle();
                background: linear-gradient(to bottom righ,$green-color-light,$blue-color-bright-300);
            }
            .help{
                @include circle();
                background: linear-gradient(to bottom right,$grey-color-light,$blue-color-greyish);
            }
            .chat{
                @include circle();
                background: linear-gradient(to bottom,$pink-color-light,$pink-color-medium,$pink-color-bold);
            }
        }
    }
}

@media screen and (max-width:992px) {
    .Chat-with-us{
        .container{
            .chat-services{
                li{
                    width: 25%;
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .Chat-with-us{
        padding: 32px 0;
        .container{
            .chat-services{
                flex-direction: column;
                align-items: center;
                li{
                    width: 100%;
                    margin-bottom: 50px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:576px) {
    .Chat-with-us{
        .container{            
            h2{
                font-size: 28px;
            }
        }
    }
}