.why-we{
    @extend %scroll-top;
    padding: 80px 0;
    background:linear-gradient(to right,$color-green-light, $color-blue-bright-300);
    color:#ffffff;
    text-align: center;
    font-weight: 400;
    h2{
        font-size: 40px;
        margin-bottom: 33px;
        + p{
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0;
            margin-bottom: 60px;
            width: 100%;
        }
    }
    .our-vision{
        display: flex;
        justify-content: space-between;
        .details{
            width: 46%;
            &:first-child{
                    padding: 46px 0;
                    margin-right: 20px;
                    text-align: left;
                .glass-bg{
                    padding: 20px 25px;
                    max-width: 502px;
                    background-color:$color-green-dark-alpha;
                    border-radius: 3px;
                    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
                    h4{
                        font-size: 20px;
                        line-height: 56px;
                    }
                    p{
                        font-size: 14px;
                        line-height: 20px;
                        margin-bottom: 0;
                    }
                }
                .our-achievements{
                    padding: 20px 35px;
                    li{
                        margin-right: 0;
                        font-size: 20px;
                        color: $color-green-dark;
                        padding: 0;
                        line-height: 56px;
                    }
                }      
            }
        }
        .to-do{
            *{
                font-family: 'Open Sans', sans-serif !important;
            }
            background-color: #ffffff;
            width: 521px;
            height: 461px;
                .to-do-list{
                    padding: 19px 40px;
                    background-color: #f5f9fc;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    p{
                        color: #4a4a4a;
                        font-size: 20px;
                        display: inline-block;  
                    }
                    span{
                        padding: 2px 16px;
                        background-color:#20bbef;
                        color:#ffffff;
                        border-radius: 16px;
                        margin-left: 10px;
                    }
                    button{
                        background-color: #20bbef;
                        padding: 4px 14px;
                        font-size: 18px;
                        color: #ffffff;
                        border: none;
                        border-radius: 4px;
                    }
                }
            ul{
                padding: 30px 40px;
                height: 85%;
                overflow: auto;
                .each-task{
                    display: flex;
                    justify-content: space-between;
                    &:hover{
                        cursor: pointer;
                    }
                    &:last-child{
                        margin-bottom: 0;
                        .line{
                            display: none;
                        }
                        .dot{
                            background-color: #6cdbd5;
                        }
                    }
                    &:first-child{
                        .dot{
                            background-color: #6cdbd5;
                        }
                        .line{
                            background-color: #6cdbd5;
                        }
                    }
                    &.checked{
                        .line{
                            background-color:#e9edf2;
                        }
                        .dot{
                            background-color:#e9edf2;
                        }
                        .task{
                            .date{
                                text-decoration: line-through;
                                color: #54657e;
                                opacity: .6;
                            }
                            .task-to-do{
                                text-decoration: line-through;
                                color: #606d78;
                                opacity: .6;
                            }
                        }
                        .checkmark{
                                display: block;
                                position: relative;
                                top: 0;
                                left: 0;
                                height: 32px;
                                width: 32px; 
                                background-color: transparent;
                                border: 2px solid #dadfe5;
                                &::after{
                                    content: "";
                                    position: absolute;
                                    top: 5px;
                                    left: 10px;
                                    width: 6px;
                                    height: 14px;
                                    border: solid #dadfe5;
                                    border-width: 0 2px 2px 0;
                                    transform: rotate(45deg);
                                }
                            }
                    }
                    .wrapper-check{
                        display: flex;
                    }
                    .line{
                        width: 1px;
                        transform: translate(8px,15px);
                        height: 75px;
                    }
                    .dot{
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        z-index: 1;
                    }
                    .task{
                        text-align: left;
                        margin-left: 25px;
                        .date{
                            font-size: 15px;
                            color: #54657e;
                            margin-bottom: 10px;
                            font-weight: 300;
                        }
                        .task-to-do{
                            font-weight: 400;
                            font-size: 16px;
                            color: #606d78;
                            .text-bold{
                                font-weight: 600;   
                            }
                        }
                    }
                        .checkmark{
                            display: block;
                            width: 32px;
                            height: 32px;
                            background: transparent;
                            border: 2px solid #20bbef;
                            border-radius: 50%;  
                        }
                }
            }
        }
    }
}


@media screen and (max-width:992px) {
    .why-we{
        .our-vision{
            flex-wrap: wrap-reverse;
            justify-content: center;
            .details{
                &:first-child{
                    margin-right: 0;
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .why-we{
        padding: 45px 0;
        h2{font-size: 32px;}
        p{
            font-size: 16px;
        }
        .our-vision{
            .details{
                width: 75%;
            }
        }
    }
}

@media screen and (max-width:576px) {
    .why-we{
        .our-vision{
            .details{
                width: 100%;
                &:first-child{
                    .glass-bg{
                        h4{
                            line-height: 25px;
                            margin-bottom: 20px;
                        }
                    }
                    .our-achievements{
                        li{
                            font-size: 16px;
                            line-height: 36px;
                        }
                    }
                }
            }
            .to-do{
                .to-do-list{
                    padding: 15px 20px;
                    p{
                        font-size: 18px;
                        + button{
                           font-size: 14px; 
                        }
                    }
                }
                ul{
                    padding:15px 20px ;
                }
                .each-task{
                    margin-bottom: 25px;
                    .task{
                        margin-left: 0 !important;
                        p{
                            font-size: 14px;
                        }
                    }
                }
                .line{
                    display: none;
                }
                .dot{
                    display: none;
                }
            }
        }
    }
}