.why-we{
    @extend %scroll-top;
    padding: 80px 0;
    background:linear-gradient(to right,$color-green-light, $color-blue-bright-300);
    color:#ffffff;
    text-align: center;
    font-weight: 400;
    h2{
        font-size: 40px;
        margin-bottom: 33px;
        + p{
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0;
            margin-bottom: 60px;
            width: 100%;
        }
    }
    .our-vision{
        display: flex;
        justify-content: space-between;
        .details{
            width: 46%;
            &:first-child{
                    padding: 46px 0;
                    margin-right: 20px;
                    text-align: left;
                .glass-bg{
                    padding: 20px 25px;
                    max-width: 502px;
                    background-color:$color-green-dark-alpha;
                    border-radius: 3px;
                    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
                    h4{
                        font-size: 20px;
                        line-height: 56px;
                    }
                    p{
                        font-size: 14px;
                        line-height: 20px;
                        margin-bottom: 0;
                    }
                }
                .our-achievements{
                    padding: 20px 35px;
                    li{
                        margin-right: 0;
                        font-size: 20px;
                        color: $color-green-dark;
                        padding: 0;
                        line-height: 56px;
                    }
                }      
            }
        }
        .to-do{
            background-color: #ffffff;
            width: 521px;
            height: 461px;
            overflow: auto;
            .wrapper{
                padding: 10px 20px;
                background-color: #f5f9fc;
                position: sticky;
                top: 0;
                z-index: 2;
                .to-do-list{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    p{
                        color: #4a4a4a;
                        span{
                            padding: 5px 15px;
                            background-color:#20bbef;
                            color:#ffffff;
                            border-radius: 16px;
                            margin-left: 10px;
                        }
                        + button{
                            background-color: #20bbef;
                            padding: 5px 10px;
                            color: #ffffff;
                            border: none;
                            border-radius: 4px;
                        }
                    }
                }
            }
            ul{
                padding: 30px 20px;
                overflow: auto;
                .each-task{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &:hover{
                        cursor: pointer;
                    }
                    &:last-child{
                        margin-bottom: 0;
                        .line{
                            display: none;
                        }
                    }
                    &:nth-of-type(2n){
                        .dot{
                            background-color: #f5474a;
                        }
                    }
                    &:nth-of-type(2n + 1){
                        .dot{
                            background-color: #f38428;
                        }
                    }
                    &:first-child{
                        .dot{
                            background-color: #6cdbd5;
                        }
                    }
                    &.checked{
                        .line{
                            visibility: hidden;
                        }
                        .dot{
                            background-color:#606d78;
                            opacity: .6;
                        }
                        .task{
                            opacity: .6;
                            text-decoration: line-through;
                            color: #606d78;
                            .date{
                                color: #606d78;
                            }
                            .task-to-do{
                                color: #606d78;
                            }
                        }
                        label{
                            display: block;
                            position: relative;
                            .checkmark{
                                top: 0;
                                left: 0;
                                height: 25px;
                                width: 25px; 
                                background-color: transparent;
                                border: 2px solid #dadfe5;
                                &::after{
                                    content: "";
                                    position: absolute;
                                    top: 4px;
                                    left: 9px;
                                    width: 5px;
                                    height: 10px;
                                    border: solid #dadfe5;
                                    border-width: 0 3px 3px 0;
                                    -webkit-transform: rotate(45deg);
                                    -ms-transform: rotate(45deg);
                                    transform: rotate(45deg);
                                }
                            }
                        }
                    }
                    .wrapper-check{
                        display: flex;
                    }
                    .line{
                        width: 1px;
                        background-color: #f38428;
                        transform: translate(8px,15px);
                        height: 75px;
                    }
                    .dot{
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        z-index: 1;
                    }
                    .task{
                        text-align: left;
                        margin-left: 25px;
                        .date{
                            color: #54657e;
                            margin-bottom: 10px;
                        }
                        .task-to-do{
                            color: #606d78;
                        }
                    }
                    label{
                        .checkmark{
                            display: block;
                            width: 25px;
                            height: 25px;
                            background: transparent;
                            border: 3px solid #6cdbd5;
                            border-radius: 50%;  
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width:992px) {
    .why-we{
        .our-vision{
            flex-wrap: wrap-reverse;
            justify-content: center;
            .details{
                &:first-child{
                    margin-right: 0;
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .why-we{
        padding: 45px 0;
        h2{font-size: 32px;}
        p{
            font-size: 16px;
        }
        .our-vision{
            .details{
                width: 75%;
            }
        }
    }
}

@media screen and (max-width:576px) {
    .why-we{
        .our-vision{
            .details{
                width: 100%;
                &:first-child{
                    .glass-bg{
                        h4{
                            line-height: 25px;
                            margin-bottom: 20px;
                        }
                    }
                    .our-achievements{
                        li{
                            font-size: 16px;
                            line-height: 36px;
                        }
                    }
                }
            }
        }
        .to-do{
            .each-task{
                margin-bottom: 25px;
            }
            .line{
                display: none;
            }
            .dot{
                display: none;
            }
        }
    }
}